/* Fresh Start */
html, body, h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans SC', sans-serif;
    font-size:100%;
}
body{color:#fff;background-color:#000;}

/* Insert a psudo element of text "Freshest" into nav for design purposes*/
/* Avoid redundant text for screen readers sake*/
/* Navigation is the last div in the html document, good semantic flow*/
#navigation p::before{content:"Freshest";}

#navigation {
    width:100%;
    position:absolute;
    top:0;
    padding: 10px;
    margin: 20px;

    display:flex;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, .5);
}
#navigation p, a{
    font-size:1em;
    font-weight: 400;
}
#navigation a{
    color:#fff;
    text-decoration: none;
    margin-right:20px;
}

#logo-container {
    width:100%;
    height:400px;
    background-image: url(images/vegetables.jpg);
    background-size:cover;

    display: flex ;
    justify-content: center ;
    align-items: center ;
    text-align: center ;
}
#logo {
    background-color:rgba(0, 0, 0, .5);
    padding:20px;
}
#logo h1{
    font-size: 5em;
    font-weight: 700;
}
#logo p{
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 0.1em;
    padding-top:10px;
}
#line{
    padding:0;
    margin:0 auto;
    width: 70%;
    height:2px;
    background-color:#fff;
}
/*
#page-content {
}
*/
.content-row {
    width:100%;
    height:300px;
    display:flex;
}
.content-image{
    width:40%;
}
.content-text{
    width:60%;
}
.content-text h2{
    font-size: 1.5em;
    font-weight:400;
}
.content-text p{
    font-size: 1em;
    font-weight:100;
}
#img1{
    background-image: url(images/hands.jpg);
    background-size:cover;
}
#img2{
    background-image: url(images/pineapple.jpg);
    background-size:cover;
}
#img3{
    background-image: url(images/pasta.jpg);
    background-size:cover;
}

